<!-- <p>
  hero works!
</p> -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class=""></li>
    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    <li data-target="#myCarousel" data-slide-to="3" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item">
       <img src="../../assets/lider-consciente.jpg" class="d-block w-100" alt="...">
      <div class="container">
        <div class="carousel-caption">
          <h2>Lider Consciente</h2>
          <p>El líder se convierte en puente, dejando el mando y el control para empoderar a su gente</p>
         
        </div>
      </div>
    </div>
    <div class="carousel-item active">
       <img src="../../assets/mindfulness.png" class="d-block img-fluid" alt="...">
      <div class="container">
        <div class="carousel-caption">
          <h2>Mindfulness</h2>
          <p>Prestar atención de manera intencional al momento presente, sin juzgar</p>
         
        </div>
      </div>
    </div>
    <div class="carousel-item">
       <img src="../../assets/coaching.png" class="d-block w-100" alt="...">
      <div class="container">
        <div class="carousel-caption">
          <h2>Coach</h2>
          <p>

 

            permite nombrar a un conjunto de técnicas que propician y facilitan un viaje, desde un punto actual hasta un punto deseado. Facilita el proceso de cambio (viaje) necesario para alcanzar nuestros objetivos (destino).
            
            
            </p>
        
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/inteligencia-emocional.png" class="d-block w-100" alt="...">
     <div class="container">
       <div class="carousel-caption">
         <h2>Inteligencia emocional</h2>
         <p>

          La inteligencia emocional permite apreciar y expresar de manera equilibrada nuestras propias emociones, entender las de los demás, y utilizarla para guiar nuestra forma de pensar y nuestro comportamiento.</p>
         
       </div>
     </div>
   </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
