@import "../app.component.scss";

.ftco-footer {
    font-size: 16px;
    padding: 7em 0;
    background: #d77479;
    font-family: rubik,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 300;
    color:white;
    display: block;
}
img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.fa{
    font-size:48px;
    padding-left: 20px;
    color:white;
   
}