<!-- <p>
  footer works!
</p>
 -->
 <footer class="ftco-footer ftco-section img">
  <div class="overlay"></div>
  <div class="container">
  <div class="row mb-5">
  <div class="col-md-6">
  <div class="ftco-footer-widget mb-4">
  <h2 class="ftco-heading-2">Fundacion Armos</h2>
  <p>Todos somos lideres.</p>
 
  
 
  <p style="text-align: center;">
    <a target="_blank" href="https://www.facebook.com/webempresa.hosting" > <i class="fa fa-twitter"></i> </a>
    <a target="_blank" href="https://twitter.com/webempresa" > <i class="fa fa-facebook-official"></i></a>
 <a target="_blank" href="https://www.instagram.com/webempresa/" >  <i class="fa fa-instagram"></i></a>
    <a target="_blank" href="https://www.youtube.com/user/webempresa?sub_confirmation=1" class="uk-icon-button uk-icon-youtube" style="margin:0 5px;"> </a>
    <a target="_blank" href="http://feedly.com/i/subscription/feed/https://www.webempresa.com/blog.feed" class="uk-icon-button uk-icon-rss" style="margin:0 5px;"> </a>
</p>
  </div>
  </div>
  
  <div class="col-md-6">
  <div class="ftco-footer-widget mb-4">
  <h2 class="ftco-heading-2">Preguntas?</h2>
  <div class="block-23 mb-3">
  <ul>
  <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
  </ul>
  </div>
  </div>
  </div>
  </div>
  <div class="row">
  <div class="col-md-12 text-center">
  <p>
  Copyright ©<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script>document.write(new Date().getFullYear());</script>2019 All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  </p>
  </div>
  </div>
  </div>
  </footer>