@import "../app.component.scss";
hr{

    size:50px;
    margin-top: 0px;
    padding-top: 0px;
    background-color: #d77479;
    height: 20px;
}
.post{
    padding-top: 30px;
    margin-bottom: 4em;
    display: block;
}