<!-- <p>
  article works!
</p> -->
<hr>
<section class="about_history_area section_gap">
  <div class="container">
      <div class="row">
          <div class="col-md-12 d_flex align-items-center">
              <div class="about_content ">
                  <h2 class="title title_color">¿Quienes Somos?</h2>
                  <p>
					Nuestro equipo de trabajo está integrado por personas de diversas
					disciplinas, trayectorias y experiencias. La entidad carece de fin de lucro y
					tendrá por objeto el desarrollo de programas y proyectos para la formación y el 
					desarrollo de líderes, formar y capacitar integralmente a las personas en su faz emocional en 
					su formación al liderazgo. Para ello, se llevarán a cabo las siguientes actividades:
					</p>
					<ul>
						<li>Diagramar políticas y estrategias de enseñanza destinadas a las personas de todas las edades.</li>
						<li>Promover el desarrollo de investigaciones científicas que tengan por finalidad el mejoramiento de la calidad educativa.</li>
						<li>Impulsar y fomentar el desarrollo de congresos, jornadas, foros, seminarios y cursos de capacitación no formal.</li>
						<li>Generar acciones conjuntas con distintas entidades educativas, públicas o privadas, tendientes al perfeccionamiento 
							y especialización de los docentes de todos los niveles.</li>
						<li>Impulsar la formación de redes de intercambio de métodos y técnicas en el campo de la educación.</li>
						<li>Promover el otorgamiento de becas a profesionales destacados y que dedican su tiempo a la investigación de nuevas modalidades educativas.</li>

					</ul>
              </div>
          </div>
          
      </div>
  </div>
 
</section>


<section>
    <div class="container">
    <div class="row">
    <div class="post col-md-12 d_flex align-items-center">
        <h2 class="title title_color">¿Cuál es nuestra misión?</h2>
        <p>Es impulsar el desarrollo de el liderazgo comprometidos con el crecimiento de la comunidad en su conjunto.
        Queremos aportar hacia  la generación y consolidación de un liderazgo consciente, un liderazgo que está emergiendo
        on toda potencia, donde el líder se convierte en puente, dejando el mando y el control para empoderar a su gente. 
     Observamos a las organizaciones como una red de conversaciones entre los miembros de la organización y entorno,
     una red nerviosa emocional y una red de personas. Vista así reconocemos que hace falta trabajar en el desarrollo de
     las mejores técnicas, herramientas y destrezas de las distinciones que conllevan a las mejores competencias de  estos
     tres ejes generales.<br>
     Generamos : investigación , proyectos educativos , actuaremos como coach y mentores de cambios, crearemos redes.  </p>
  
      </div>
      </div>
    </div>
</section>
<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="../../assets/c.jpg">
          <img src="../../assets/c.jpg" alt="Lights" style="width:100%">
         
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="../../assets/d.jpg">
          <img src="../../assets/d.jpg" alt="Nature" style="width:100%">
        
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="../../assets/cm.jpg">
          <img src="../../assets/cm.jpg" alt="Fjords" style="width:100%">
         
        </a>
      </div>
    </div>
  </div>

<section>
    <div class="container">
    <div class="row">
    <div class="post col-md-12 d_flex align-items-center">
        <h2 class="title title_color">Beneficio</h2>
       <p>Desde Fundación Armós estamos comprometidos con el desarrollo de líderes conscientes, por lo que te invitamos 
	   a participar en un proceso de selección para 
	   otorgarte una BECA en una de nuestros cursos de formación. ¿Quienes pueden participar?
	   Aquellas personas que sean parte de una ONG y esten decididas a desarrollarse como líderes puentes.</p>
  
      </div>
      </div>
    </div>
</section>